// GENERAL RULES
body {
	font-family        : 'Indie Flower', sans-serif;
	padding            : @PADDING;
	margin             : 0;
	color              : #E7E7E7;
	background-color   : #4F5237;
	-webkit-touch-callout : none;
	-webkit-user-select   : none;
	-khtml-user-select    : none;
	-moz-user-select      : none;
	-ms-user-select       : none;
	user-select           : none;
	.bg {
		background-image  : url("../pattern2.jpg");
		background-repeat : repeat;
		position: absolute;
		top: 0;
		left : 0;
		right: 0;
		bottom: 0;
		opacity: .1;
		z-index: 1;
	}
}

h1 {
	text-decoration: underline;
}

.container {
	z-index: 2;
	position: relative;
	.headline {
		margin-top: 20px;
	}
	li {
		list-style-type: none;
		&:before {
			top: 4px;
			position: relative;
			content: " * ";
		}
		.feature {
			display: inline-block;
			vertical-align: top;
		}
		.description {
			font-size: .8em;
			display: inline-block;
		}
		.write {
			vertical-align: top;
			display: inline-block;
			// margin-top: -24px;
			// padding-left :86px;
		}
	}
	.footer {
		padding-top: 20px;
	}
}

.serious-logo {
	background-image  : url("../serious.png");
	background-repeat : no-repeat;
	width             : 320px;
	height            : 120px;
	&:after {
		content: "";
		position: absolute;
		background-color: #42442E;
		-webkit-box-shadow: 4px 4px 0px rgba(48, 49, 30, 0.86);
		-moz-box-shadow: 4px 4px 0px rgba(48, 49, 30, 0.86);
		-ms-box-shadow: 4px 4px 0px rgba(48, 49, 30, 0.86);
		box-shadow: 4px 4px 0px rgba(48, 49, 30, 0.86);
		height: 10px;
		width: 100%;
		z-index: -1;
		top: 111px;
	}
}

.furious-logo {
	background-image  : url("../furious.png");
	background-repeat : no-repeat;
	width             : 320px;
	height            : 460px;
}

// EOF
