// GENERAL RULES
body {
	background-color  : #E1E1E1;
	// background-color  : #F0EEE6;
	font-family       : Arial;
	padding           : @PADDING;
	margin            : 0;

	-webkit-touch-callout : none;
	-webkit-user-select   : none;
	-khtml-user-select    : none;
	-moz-user-select      : none;
	-ms-user-select       : none;
	user-select           : none;
}

// EOF
